# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [5]:
ecuacion1 = (5**2)*2+(20-(2*5))+(80/2)+(1/4)

In [6]:
ecuacion1

100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [7]:
forma1 = 100**(1/2)

In [8]:
forma1

10.0

In [19]:
#forma2 
import math
forma2 = math.sqrt(100)
forma2

10.0

In [10]:
forma2

10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [27]:
cuadrado = 100**2

In [28]:
cuadrado

10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [14]:
s = 'hello'

In [15]:
s[1]

'e'

In [16]:
s[::-1]

'olleh'

In [23]:
o1 = s[4]

In [24]:
o1

'o'

In [29]:
o2 = s[-1]

In [31]:
o2

'o'

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [85]:
lista1 = [0,0,0]

In [86]:
lista1

[0, 0, 0]

In [87]:
lista2 = [0]*3

In [88]:
lista2

[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [41]:
lista = [1,2,[3,4,'hello']]

In [42]:
lista[2].remove("hello")

In [43]:
lista

[1, 2, [3, 4]]

In [44]:
lista[2].append("goodbye")

In [45]:
lista

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [82]:
listaSinOrdenar = [5,3,4,6,1]

In [83]:
listaOrdenada = sorted(listaSinOrdenar)

In [84]:
listaOrdenada

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [81]:
f = {'k1':{'k2':'hello'}}

In [91]:
f["k1"]["k2"]

'hello'

In [92]:
d = {'key1':'hello'}

In [93]:
d['key1']

'hello'

In [94]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [98]:
g["k1"][0]["o1"][1][0]

'hello'

In [99]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [101]:
h["k1"][2]["k2"][1]["dificil"][2][0]

'hello'

#### 9.- Crea una tupla (1 pto)

In [102]:
t = (0,0,0)

In [103]:
t

(0, 0, 0)

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [108]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [109]:
set(listaDuplicada)

{1, 2, 3, 4, 11, 22, 33}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es igual que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [110]:
# 2 mayor que 3
2>3

False

In [112]:
# 3 igual que 2
3==2

False

In [114]:
# raíz cuadrada de 4 no es igual a 2
4**0.5!=2

False

In [115]:
# 6 es mayor que 5 y 7 menor de 8
6>5 and 7<8

True

In [116]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]

In [118]:
nom = len(nombre)
col = len(colores)
nom==col or nom<7

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [140]:
tabla = [
    ['Nombre', 'Apellidos', 'Edad', 'Mascota'],
 ['Ana', 'Pomares Echanove', '22', 'Perro'],
 ['Pablo', 'Badolato Lopez', '21', ''],
 ['Pedro', 'Garcia Lopez', '32', 'Gallo'],
 ['Carol', 'Vidal Puerta', '16', 'Tortuga']
]

In [141]:
tabla

[['Nombre', 'Apellidos', 'Edad', 'Mascota'],
 ['Ana', 'Pomares Echanove', '22', 'Perro'],
 ['Pablo', 'Badolato Lopez', '21', ''],
 ['Pedro', 'Garcia Lopez', '32', 'Gallo'],
 ['Carol', 'Vidal Puerta', '16', 'Tortuga']]

In [142]:
with open("tabla-nombres.txt", "w", encoding="utf-8") as f:
    for fila in tabla:
        f.write("{:<10} {:<20} {:<5} {:<10}\n".format(*fila))

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [146]:
diccionario = {
    "Rattus": ["novergicus", "rattus"],
    "Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
    "Echinocactus": ["grusonii"],
    "Opuntia": 1
}

In [147]:
lista_claves = list(diccionario.keys())
print("Lista de claves inicial:", lista_claves)

Lista de claves inicial: ['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia']

In [148]:
diccionario["Canis"] = ["lupus", "familiaris"]
diccionario["Felis"] = "catus"

In [149]:
lista_claves = list(diccionario.keys())
print("Lista de claves actualizada:", lista_claves)

Lista de claves actualizada: ['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia', 'Canis', 'Felis']

In [150]:
conjunto_claves = set(lista_claves)
print("Conjunto de claves:", conjunto_claves)

Conjunto de claves: {'Opuntia', 'Rattus', 'Echinocactus', 'Canis', 'Glaucidium', 'Felis'}

In [151]:
print (diccionario)

{'Rattus': ['novergicus', 'rattus'], 'Glaucidium': ['brasilianum', 'hoskinsii', 'californicum', 'minutissimum'], 'Echinocactus': ['grusonii'], 'Opuntia': 1, 'Canis': ['lupus', 'familiaris'], 'Felis': 'catus'}